@import url('https://fonts.googleapis.com/css2?family=Nobile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background-color: #000000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Nobile', sans-serif;
}
h1 {
    position: absolute;
    top: 22%;
    left: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
}
h2 {
    position: absolute;
    top: 22%;
    left: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}



header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    padding: 10%;

    svg {
        cursor: pointer;
    }
}
nav {
    text-decoration: none;
    display: none;
}
.logo {
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;

    span {
        font-weight: 500;
    }
}

//SECTION #1

h1.sec-title {
    font-family: 'Inspiration', cursive;
    color: #000000;
    font-size: 4rem;
    //-webkit-text-stroke: 0.015px white;
}
.sub-title {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: .8rem;
    z-index: 99;
}
.firts-sec {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    overflow: hidden;
}

.content-sec {
    position: relative;
    width: 100%;
    height: 100vh;
}
.images {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}
.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    z-index: 1;
    overflow: hidden;
}
.line {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 99;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    letter-spacing: .3rem;

    span {
        margin-top: 60%;
        display: block;
    }

    svg {
        margin-top: 10px;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        animation: scroll 0.95s ease-in-out alternate infinite;
        fill: none;
        stroke: #fff;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 1;
   }
}
h3.content-title {
    position: absolute;
    width: 100%;
    height: auto;
    font-size: 3rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    top: 90vh;
    left: 0;
    text-align: center;
    z-index: 5;
}
p.content-message {
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 106vh;
    left: 0;
    text-align: center;
    width: auto;
    height: auto;
    z-index: 6;
    opacity: 0;
    margin-left: 8%;
    margin-right: 8%;
}



// SECTION #2

.second-sec {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    overflow: hidden;
}
.images2 {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}
.sub-title-sec2 {
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: .8rem;
    z-index: 99;
    color: #000000;
}
.line-sec2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 99;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    letter-spacing: .3rem;

    svg {
        margin-top: -30vh;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        animation: scroll 0.95s ease-in-out alternate infinite;
        fill: none;
        stroke: #000000;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 1;
   }
}
.line2-sec2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 99;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    letter-spacing: .3rem;

    svg {
        margin-top: 42vh;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        animation: scroll 0.95s ease-in-out alternate infinite;
        fill: none;
        stroke: #000000;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 1;
   }
}

// SECTION #3

.third-sec {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    overflow: hidden;
}
.images3 {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: 2;
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}
.line-sec3 {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 99;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    letter-spacing: .3rem;

    svg {
        margin-top: -38vh;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        animation: scroll 0.95s ease-in-out alternate infinite;
        fill: none;
        stroke: #fff;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 1;
   }
}
.sub-title-sec3 {
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: .8rem;
    z-index: 99;
    color: #fff;
}
p.content-message3 {
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 27vh;
    left: 0;
    text-align: center;
    width: auto;
    height: auto;
    z-index: 9;
    margin-left: 8%;
    margin-right: 8%;
}
.line2-sec3 {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 99;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    letter-spacing: .3rem;

    svg {
        margin-top: 70vh;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        animation: scroll 0.95s ease-in-out alternate infinite;
        fill: none;
        stroke: #fff;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 1;
   }
}


// SECTION #4

.forth-sec {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    overflow: hidden;
}
.images4 {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: 2;
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}
.line-sec4 {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 99;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    letter-spacing: .3rem;

    svg {
        margin-top: 75vh;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        animation: scroll 0.95s ease-in-out alternate infinite;
        fill: none;
        stroke: #fff;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 1;
   }
}

h3.content-title4 {
    position: absolute;
    width: 100%;
    height: auto;
    font-size: 3rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    top: 20%;
    left: 0;
    text-align: center;
    z-index: 11;
    color: #000000;
}
p.content-message4 {
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 35%;
    left: 0;
    text-align: center;
    width: auto;
    height: auto;
    z-index: 11;
    margin-left: 8%;
    margin-right: 8%;
    color: #000000;
}


// SECTION #5

.fifth-sec {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    overflow: hidden;
}
.images5 {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: 2;
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}
p.content-message5 {
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 30%;
    left: 0;
    text-align: center;
    width: auto;
    height: auto;
    z-index: 11;
    margin-left: 8%;
    margin-right: 8%;
    color: #000000;
}
.sub-title-sec5 {
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: .8rem;
    z-index: 99;
    color: #000000;
}
.line-sec5 {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 99;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    letter-spacing: .3rem;

    svg {
        margin-top: 80vh;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        animation: scroll 0.95s ease-in-out alternate infinite;
        fill: none;
        stroke: #000000;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 1;
   }
}


// SECTION #6

.sixth-sec {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    overflow: hidden;
}
.images6 {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: 2;
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}
p.content-message6 {
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 30%;
    left: 0;
    text-align: center;
    width: auto;
    height: auto;
    z-index: 11;
    margin-left: 8%;
    margin-right: 8%;
    color: #000000;
}
.sub-title-sec6 {
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: .8rem;
    z-index: 99;
    color: #000000;
}
.line-sec6 {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 99;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    letter-spacing: .3rem;

    svg {
        margin-top: 84vh;
        top: 0;
        rotate: 180deg;
        left: 0;
        width: 18px;
        height: 18px;
        animation: scroll 0.95s ease-in-out alternate infinite;
        fill: none;
        stroke: #000000;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 1;
   }
}




@media only screen and (max-width: 380px) {

    h1.sec-title {
        font-size: 3.4rem;
    }
    .sub-title {
        font-size: 1rem;
    }
    .line {
        span {
            font-size: .7rem;
        }
    }
    h3.content-title, .content-title4 {
        font-size: 2.5rem;
    }
    p.content-message, .content-message3, .content-message4 {
        font-size: .9rem;
    }
    .content-message5 {
        font-size: .9rem;
        margin-top: -10px;
    }
    .sub-title-sec2, .sub-title-sec3, .sub-title-sec5 {
        font-size: 1rem;
    }
}

@keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(10px);
    }
  }